*
{
    margin: 0;
    padding: 0;
}
.main
{
    width: 100%;
    background: url(image.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar
{
    width: 1900px;
    height: 75px;
    margin: auto;
}
.icon
{
    width: 200px;
    float: left;
    height: 70px;
}
.logo
{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    font-weight: bold;
}
.menu
{
    width: 400px;
    float: left;
    height: 70px;
}
ul
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li
{
    list-style: 1px solid black;
    margin-left: 160px;
    margin-top: 15px;
    font-size: 25px;
}
ul li a
{
    text-decoration: 1px solid black;
    color: black;
    font-family: 'Courier New';
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover
{
    color: rgba(146, 146, 146, 0.685);
    font-style: italic;
}
.search
{
    width: 280px;
    float: left;
    margin-left: 1000px;
}
.srch
{
    font-family: 'Courier New';
    width: 200px;
    height: 30px;
    background: transparent;
    border: 2px solid black;
    margin-top: 13px;
    color: black;
    border-right: 1px solid black;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn
{
    width: 80px;
    height: 30px;
    background: rgba(245, 245, 245, 0.5);
    border: 1px solid black;
    margin-top: 13px;
    color: black;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus
{
    outline: 1px solid black;
}
.srch:focus
{
    outline: 1px solid black;
}
.form
{
    width: 250px;
    height: 380px;
    background: rgba(92, 92, 92, 0.432);
    position: absolute;
    top: 300px;
    left: 770px;
    border-radius: 10px;
    padding: 25px;
}
.form h2
{
    width: 250px;
    height: 30px;
    font-family: 'Courier New';
    text-align: center;
    font-size: 30px;
}
.form input
{
    width: 240px;
    height: 35px;
    background: rgba(245, 245, 245, 0.562);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: 'Courier New';
}
.form input:focus
{
    outline: none;
}
::placeholder
{
    color: black;
    font-family: 'Courier New';
}
.btnn
{
    width: 240px;
    height: 40px;
    background: rgba(128, 128, 128, 0.301);
    border: 1px solid black;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Courier New';
    border-radius: 10px;
    cursor: pointer;
    color: black;
    transition: 0.5s;
}
.btnn:hover
{
    background: rgba(245, 245, 245, 0.644);
    color: black;
    font-style: italic;
}
.btnn a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.form .link
{
    font-family: 'Courier New';
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.562);
}
.form .link a
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.795);
    transition: 0.3s;
}
.form .link a:hover
{
    background: rgba(245, 245, 245, 0.418);
    font-style: italic;
}
.icons
{
    text-decoration: none;
    color: whitesmoke;
}

.icons ion-icon
{
    color: whitesmoke;
    font-size: 40px;
    padding-left: 15px;
    padding-top: 40px;
    transition: 0.3s;
}
.icons ion-icon:hover
{
    color: gray;
}